.App {
  text-align: center;
}

.button-3 {
    background-color: rgb(255, 255, 128);
}

.button-0 {
    background-color: #81c147;
}

.button-1 {
    background-color: #0080ff;
}

.button-2 {
    background-color: #edacb1;
}

.table{
	margin: auto;
}

.div-0{
	display: inline-block;
	background-color: #81c147;
	border: 2px solid #81c147; 
}
.div-1{
	display: inline-block;
	background-color: #0080ff;
	border: 2px solid #0080ff; 
}
.div-2{
	display: inline-block;
	background-color: #edacb1;
	border: 2px solid #edacb1; 
}
